<div fxFlex="50%" class="container">
  <h1>Shorten your link!</h1>
  <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Enter URL here</mat-label>
      <input name="originalUrl" required matInput ngModel/>
    </mat-form-field>
    <div fxFlex="10%">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      >
        Shorten!
      </button>
    </div>
  </form>
  <div class="shortenLinkDiv" *ngIf="shortenUrl !== ''">
    <p class="boldDiv">Your link now looks like this:</p>
    <p>
      <a
        href="http://localhost:8033/links/{{ shortenUrl }}"
        target="_blank"
      >
        http://localhost:8033/{{ shortenUrl }}
      </a>
    </p>
  </div>
</div>
